10 * * * * /aggregations.sh >> /var/log/cron/cron.log 2>&1
* * * * * flock -n /tmp/workload_snapshot.lock /refresh_workload_snapshot.sh >> /var/log/cron/cron.log 2>&1
*/15 * * * * /usr/sbin/logrotate /etc/logrotate.conf
